body {
  text-align: center;
  font-family: sans-serif;
}

.control {
  font-size: 12pt;
  height: 50px;
}

.control div {
  display: inline-block;
  vertical-align: middle;
}

.control p, .control span {
  display: inline;
}

.info {
  margin-left: 2em;
  margin-right: 2em;
}

.control .btn {
  width: 120px;
  height: 100%;
  border-radius: 5px;
  border-style: none;
  color: white;
  background-color: steelblue;
  user-select: none;
}

.control .btn p {
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.control .btn:hover:not(.disabled) {
  background-color: skyblue;
}

.control .btn:active:not(.disabled) {
  box-shadow: inset 2px 2px 2px 1px rgba(50,75,80,0.5);
}

.control .btn:active:not(.disabled) p {
  transform: translate(1px, 0px);
}

.control .disabled {
  background-color: grey;
}

svg {
  font-family: sans-serif;
  font-size: 10pt;
}

svg .node, svg .link {
  stroke: teal;
}

svg .node {
  fill: skyblue;
}

svg text {
  text-anchor: middle;
  fill: black;
  stroke: none;
}

svg path {
  fill: none;
}

svg .questioned, svg .q_desc {
  stroke: darkgoldenrod;
}

svg .node.questioned {
  fill: khaki;
}

svg .link.questioned path {
  stroke-dasharray: 8,3;
}

svg .link text {
  fill: saddlebrown;
  font-size: 14pt;
  font-weight: bold;
}

form {
  margin-top: 20px;
}
