<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Environment</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

    <link rel="stylesheet" href="../assets/css/customRange.css">

    {#
        TODO
            - buildEnvViewer on timeline update according to epoch index
            - asynchronously update environment on data update
            -

    #}


    <script>
        var epoch_dict = {};
        function loadStruc() {
            $.ajax({
                url: "/environment/get-struc",
                method: "GET",
                success: structureEnv,
                error: strucError,

            });

            /**
             * Structures epoch indexed environment data
             * @param data
             * @param status
             */
            function structureEnv(data, status) {
                let output = JSON.parse(data);
                for (let key in output) {
                    if (output.hasOwnProperty(key)) {
                        console.log(key, output[key]);
                        epoch_dict[key] = output[key];
                    }
                }
            }

            function strucError() {
                console.log("Couldn't get structured environment data");
            }
        }

    </script>

    <script>
        function load() {
            $.ajax({
                url: "/environment/get",
                method: "GET",
                success: buildEnvViewer,
                error: viewerError
            });

            function structureEnv(data, status) {
                let output = JSON.parse(data);
                for (let key in output) {
                    if (output.hasOwnProperty(key)) {

                    }
                }
            }


            /**
             * Builds Environment Viewer
             * @param data
             * @param status
             */
            function buildEnvViewer(data, status) {
                var output = JSON.parse(data);

                $("#raw_env").JSONView(output, {collapsed: false});

                {#testEnv(data); // gets test environment data structured by epoch#}

                document.querySelector("#locations").appendChild(buildEnvNavigation(data));

                document.querySelector("#nav-tab").appendChild(buildLocationPanels(data));

            }

            function testEnv(env){
                $.ajax({
                    url: "/test",
                    method: "GET",
                    success: printEnv,
                });

                function printEnv(data, status) {
                    console.log(data);
                }

            }
       
            /**
             * Build Environment Viewer Navigation
             * @param env
             */
            function buildEnvNavigation(env){
                let tempNode = document.querySelector("div[data-type='loc-nav-template']").cloneNode(true);

                let active = true;

                let environment = JSON.parse(env);

                for (const key in environment) {
                    if (environment.hasOwnProperty(key)) {
                        {# Creates location navigation tabs #}
                        let locLi = document.createElement("li");

                        locLi.classList.add("nav-item");

                        let locTitle = document.createElement("a");

                        locTitle.href = "#" + key.toLowerCase();
                        locTitle.classList.add("nav-location");
                        locTitle.classList.add("nav-link");
                        locTitle.id = key.toLowerCase() + "-tab";
                        locTitle.setAttribute("data-toggle", "tab");

                        {# Sets first location to active tab #}
                        if (active===true) {
                            locTitle.classList.add("active");
                            active = false;
                        }

                        {# Sets tab titles #}
                        let locTitleText = document.createTextNode(key);

                        {# Append respective navigation titles #}
                        locTitle.appendChild(locTitleText);
                        locLi.appendChild(locTitle);
                        tempNode.querySelector("#location-titles").appendChild(locLi);
                    }
                }

                {# Edit/remove template attributes for document #}
                tempNode.style.display = "block";
                tempNode.setAttribute("id", "nav-tab");
                tempNode.removeAttribute("data-type");

                return tempNode;
            }

            /**
             * Builds tab panel for each location in environment
             * @param env
             */
            function buildLocationPanels(env) {
                let environment = JSON.parse(env);
                let active = true;
                let tabContent = document.createElement("div");

                tabContent.classList.add("tab-content");
                tabContent.setAttribute("id", "nav-tabContent");

                {# Create tab panel for each location in the environment #}
                for (const location in environment) {
                    if (environment.hasOwnProperty(location)) {
                        let tempPanel = document.querySelector("div[data-type='loc-panel-template']").cloneNode(true);

                        tempPanel.setAttribute("id", location.toLowerCase());
                        tempPanel.setAttribute("aria-labelledby", location.toLowerCase()+"-tab");
                        tempPanel.removeAttribute("style");
                        tempPanel.removeAttribute("data-type");

                        if (active===true) {
                            tempPanel.classList.add("show");
                            tempPanel.classList.add("active");
                            active = false;
                        }

                        for (const obj in environment[location]) {
                            if (environment[location].hasOwnProperty(obj)) {
                                tempPanel.querySelector("div[id='object-cards']").appendChild(buildObjectCard(environment[location][obj]));
                            }
                        }
                        tabContent.appendChild(tempPanel);
                    }
                }
                return tabContent;
            }

            /**
             * Builds and returns card for each object with attributes
             * @param object
             * @returns {HTMLElement}
             */
            function buildObjectCard(object) {
                let tempCard = document.createElement("div");
                tempCard.classList.add("card");
                tempCard.classList.add("p-3");
                tempCard.style.margin = ".75rem";

                let tempCol = document.createElement("div");
                tempCol.classList.add("col-sm-6");

                $.ajax({
                    url: "/environment/get?instance=" + object,
                    method: "GET",
                    success: buildCard,
                    error: getObjectError,
                });

                /**
                 * Builds card for current object
                 * @param data
                 * @param status
                 */
                function buildCard(data, status) {
                    let obj = JSON.parse(data);

                    tempCard.setAttribute("id", obj["identifier"]);

                    let cardTitle = document.createElement("h5");
                    cardTitle.classList.add("card-title");
                    cardTitle.textContent = obj["identifier"];

                    let cardAttr = document.createElement("div");
                    cardAttr.classList.add("card-text");

                    for (const attr in obj["attributes"]) {
                        if (obj["attributes"].hasOwnProperty(attr)) {
                            let tempAttr = document.createElement("p");
                            tempAttr.classList.add("object-attribute");

                            tempAttr.textContent = attr + ": " + obj["attributes"][attr];

                            tempAttr.style.fontSize = ".75rem";

                            cardAttr.appendChild(tempAttr);
                        }
                    }

                    tempCard.appendChild(cardTitle);
                    tempCard.appendChild(cardAttr);
                    tempCol.appendChild(tempCard);
                }

                function getObjectError(){
                    alert("Could not get object data")
                }
                return tempCol;
            }

            function viewerError() {
                let tempNode = document.querySelector("div[data-type='loc-nav-template']").cloneNode(true);

                tempNode.querySelector(".card-header").textContent = "Empty Environment";
                tempNode.style.display = "block";
                tempNode.setAttribute("id", "nav-tab");
                tempNode.removeAttribute("data-type");

                let emptyBody = document.createElement("div");
                emptyBody.classList.add("card-body");

                tempNode.appendChild(emptyBody);
                document.querySelector("#locations").appendChild(tempNode);
            }
        }
    </script>

    {#  Location Navigation Template  #}
    <div style="display: none; margin-bottom: 25px;" data-type="loc-nav-template" id="location-nav-template" class="card">
        <div class="card-header">
            <ul id="location-titles" class="nav nav-tabs card-header-tabs"></ul>
        </div>
{#        <div class="card-body"></div>#}
    </div>

    {#  Location Panel Template  #}
    <div style="display: none;" data-type="loc-panel-template" id="location-panel-template" class="tab-pane fade show" role="tabpanel" aria-labelledby="location-tab">
        <div class="row" id="object-cards"></div>
    </div>

    {#  Object Card Template  #}
    <div style="display: none; margin-bottom: 25px;" data-type="obj-card-template" id="object-template" class="card">
        <div class="card-body"></div>
    </div>

</head>

<body onload="load(); loadStruc();">

    {% include 'nav.html' %}
    <script>
        $(document).ready(function() {
            $("#nav-environment").addClass("active");
        });
    </script>

    <script>
        $(document).on('input', '#timelineSlider', function() {
            console.log($(this).val() );
            $("#timelineLabel").html("Current Epoch: " + $(this).val() );
        });
    </script>


    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div id="left-panel" class="col-sm-8">
                <div id="timeline">
                    <div style="margin-bottom: 25px;" class="card">
                        <label id="timelineLabel" for="timelineSlider" class="card-header">Current Epoch: _</label>
                        <div class="card-body">
                            <input type="range" class="custom-range" min="0" max="1" value="1" id="timelineSlider">
                        </div>
                    </div>
                </div>
                <div id="locations"></div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Control Panel
                    </div>
                    <div class="card-body">
                        <div></div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 25px;" >
                    <div class="card-header">
                        Object Log
                    </div>
                    <div class="card-body">
                        <div id="raw_env"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>