<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Environment</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>
{##}
{#    <script>#}
{#        function load(load="true") {#}
{#            $.ajax({#}
{#                url: "/environment?load=" + load,#}
{#                method: "GET",#}
{#            }).done(function(data) {#}
{##}
{#            })#}
{#        }#}
{#    </script>#}

    <script>
        function load() {
            $.ajax({
                url: "/environment/get",
                method: "GET",
            }).done(function(data) {
                var output = JSON.parse(data);

                $("#raw_env").JSONView(output, { collapsed: false });

                var docFrag = document.createDocumentFragment();
                for (const key in output){
                    if (output.hasOwnProperty(key)) {
                        console.log(key + " -> " + output[key]);
                        var tempNode = document.querySelector("div[data-type='template']").cloneNode(true);
                        tempNode.querySelector("#location-title").innerHTML = key;
                        {#tempNode.querySelector("#objects").textContent = output[key];#}
                        var i;
                        for (i=0; i < output[key].length; i++) {
                            var badge = document.createElement("a");
                            var text = document.createTextNode(output[key][i]);
                            badge.href = "#";
                            badge.classList.add("object-link");
                            badge.classList.add("badge");
                            badge.classList.add("badge-dark");
                            badge.title = output[key][i];
                            {#badge.style.display = "list-item";#}
                            badge.appendChild(text);
                            tempNode.querySelector("#objects").appendChild(badge)
                        }
                        tempNode.style.display = "block";
                        docFrag.appendChild(tempNode);
                        {#var locations = $("#locations");#}
                    }
                }
                document.querySelector("#locations").appendChild(docFrag);
                {#delete docFrag;#}
            })
        }
    </script>

{#    <script>#}
{#        function get_object(){#}
{#            var = identifier =#}
{#            $.ajax({#}
{#                url: "/environment/get"#}
{#            })#}
{#        }#}
{#    </script>#}

    <div style="display: none; margin-bottom: 25px;" data-type="template" id="location-template" class="card">
        <div id="location-title" class="card-header"></div>
        <div class="card-body">
            <div id="objects" class="col-sm-3"></div>
            <div id="graph" class="col-sm-5"></div>
        </div>
    </div>

</head>
<body onload="load()"> {# TODO - Insert onload fuction #}

    {% include 'nav.html' %}
    <script>
        $(document).ready(function() {
            $("#nav-environment").addClass("active");
        });
    </script>


    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div id="locations" class="col-sm-8">
{#                <div class="card" style="margin-bottom: 25px;">#}
{#                    <div class="card-header">#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="card" style="margin-bottom: 25px;">#}
{#                    <div class="card-header">#}
{#                        Storage 1#}
{#                    </div>#}
{#                    <div class="card-body">#}
{##}
{#                    </div>#}
{#                </div>#}
{#                <div class="card" style="margin-bottom: 25px;">#}
{#                    <div class="card-header">#}
{#                        Storage 2#}
{#                    </div>#}
{#                    <div class="card-body">#}
{##}
{#                    </div>#}
{#                </div>#}
            </div>
            <div class="col-sm-4">
                <div class="card" style="margin-bottom: 25px;" >
                    <div class="card-header">
                        Object Log
                    </div>
                    <div class="card-body">
                        <div id="raw_env"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>