<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Environment</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jsonview/1.2.3/jquery.jsonview.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-treeview/1.2.0/bootstrap-treeview.min.js"></script>

{#    <script>#}
{#        /**#}
{#         * Loads Environment objects and enumerates them into respective locations#}
{#         * Each object in the location cards can be clicked on, rendering a JSONView#}
{#         *     of the objects properties#}
{#         */#}
{#        function load() {#}
{#            $.ajax({#}
{#                url: "/environment/get",#}
{#                method: "GET",#}
{#            }).done(function (data) {#}
{#                var output = JSON.parse(data);#}
{##}
{#                $("#raw_env").JSONView(output, {collapsed: false});#}
{##}
{#                var docFrag = document.createDocumentFragment();#}
{#                for (const key in output) {#}
{#                    if (output.hasOwnProperty(key)) {#}
{#                        console.log(key + " -> " + output[key]);#}
{#                        var tempNode = document.querySelector("div[data-type='template']").cloneNode(true);#}
{#                        tempNode.querySelector("#location-title").innerHTML = key;#}
                        {#tempNode.querySelector("#objects").textContent = output[key];#}
{#                        var i;#}
{#                        for (i = 0; i < output[key].length; i++) {#}
{#                            var obj = document.createElement("a");#}
{#                            var text = document.createTextNode(output[key][i]);#}
{#                            obj.href = "#";#}
{#                            obj.classList.add("object-link");#}
{#                            obj.classList.add("list-group-item");#}
{#                            obj.classList.add("list-group-item-action");#}
{#                            obj.appendChild(text);#}
{#                            tempNode.querySelector("#objects").appendChild(obj)#}
{#                        }#}
{#                        tempNode.style.display = "block";#}
{#                        docFrag.appendChild(tempNode);#}
{#                    }#}
{#                }#}
{#                document.querySelector("#locations").appendChild(docFrag);#}
{#            });#}
{#        }#}
{#    </script>#}

{#    <script>#}
{#        /**#}
{#         * Loads Environment objects and enumerates them in respective locations#}
{#         */#}
{#        function load() {#}
{#            $.ajax({#}
{#                url: "/environment/get",#}
{#                method: "GET",#}
{#            }).then(function (data) {#}
{#                var output = JSON.parse(data);#}
{##}
{#                $("#raw_env").JSONView(output, {collapsed: false});#}
{##}
{#                var docFrag = document.createDocumentFragment();#}
{#                var tempNode = document.querySelector("div[data-type='loc-nav-template']").cloneNode(true);#}
{##}
{#                var activeLocation ;#}
{#                /**#}
{#                 * Create nav list of locations for object rendering#}
{#                 *#}
{#                 * https://getbootstrap.com/docs/4.0/components/navs/#javascript-behavior#}
{#                 * https://getbootstrap.com/docs/4.0/components/card/#card-styles#}
{#                 */#}
{#                let count = 0;#}
                {# For each location #}
{#                for (const key in output) {#}
{#                    if (output.hasOwnProperty(key)) {#}
                        {# Creates location navigation tabs #}
{#                        var locLi = document.createElement("li");#}
{#                        locLi.classList.add("nav-item");#}
{#                        var locTitle = document.createElement("a");#}
{#                        locTitle.href = "#";#}
{#                        locTitle.classList.add("nav-location");#}
{#                        locTitle.classList.add("nav-link");#}
{#                        locTitle.id = key.toLowerCase() + "-tab";#}
{#                        locTitle.setAttribute("data-toggle", "tab");#}
{##}
                        {# Sets first location to active tab #}
{#                        if (count===0) {#}
{#                            locTitle.classList.add("active");#}
{#                            activeLocation = key;#}
{#                        }#}
{##}
                        {# Sets tab titles #}
{#                        var locTitleText = document.createTextNode(key);#}
{##}
{#                        locTitle.appendChild(locTitleText);#}
{#                        locLi.appendChild(locTitle);#}
{##}
                        {# Appends location tabs to location navigation #}
{#                        tempNode.querySelector("#location-titles").appendChild(locLi);#}
{##}
                        {#  Creates temporary Tab Content  #}
{#                        var tempTab = document.querySelector("div[data-type='loc-tab-template']").cloneNode(true);#}
{##}
{#                        tempTab.setAttribute("id", key.toLowerCase());#}
{#                        tempTab.setAttribute("aria-labelledby", key.toLowerCase() + "-tab");#}
{#                        tempTab.style.display = "block";#}
{##}
                        {#
{#                        if (count===0) {#}
{#                            tempTab.classList.add("active");#}
{#                        }#}
{#                        #}
{##}
                        {#  Populate Tab Content with Object Card Tempalates  #}
{#                        const objects = output[key];#}
{#                        for (var i = 0; i < objects.length; i++) {#}
{#                            if (output[key].hasOwnProperty(i)) {#}
{#                                var tempObjCard = document.querySelector("div[data-type='obj-card-template']").cloneNode(true);#}
{##}
{#                                /**#}
{#                                 * Gets object data#}
{#                                 */#}
{#                                $.ajax({#}
{#                                    url: "/environment/get?instance=" + objects[i],#}
{#                                    method: "GET",#}
{#                                }).then(function (data) {#}
{#                                    let obj = JSON.parse(data);#}
{#                                    let cardTitle = document.createElement("h4");#}
{##}
{#                                    cardTitle.classList.add("card-title");#}
{#                                    cardTitle.textContent = obj["identifier"];#}
{##}
{#                                    tempObjCard.querySelector(".card-body").appendChild(cardTitle);#}
{##}
{#                                    for (const attrs in obj["attributes"]) {#}
{#                                        for (const attr in obj["attributes"][attrs]) {#}
{#                                            let attribute = document.createElement("p");#}
{#                                            attribute.classList.add("card-text");#}
{#                                            attribute.textContent = attrs + ": " + obj["attributes"][attrs][attr];#}
{##}
{#                                            tempObjCard.querySelector(".card-body").appendChild(attribute);#}
{#                                        }#}
{#                                    }#}
{#                                    tempObjCard.style.display = "flex";#}
{#                                    tempObjCard.setAttribute("id", obj["identifier"] + "card");#}
{#                                });#}
{#                                tempTab.querySelector(".card-deck").appendChild(tempObjCard);#}
{##}
{#                            }#}
{#                        }#}
{#                        tempNode.querySelector("#locationTabContent").append(tempTab);#}
{#                    }#}
{#                    count += 1#}
{#                }#}
{#                tempNode.style.display = "block";#}
{#                docFrag.appendChild(tempNode);#}
{#                document.querySelector("#locations").appendChild(docFrag);#}
{#            });#}
{#        }#}
{#    </script>#}


    <script>
        function load() {
            $.ajax({
                url: "/environment/get",
                method: "GET",
                success: buildEnvViewer,
                error: viewerError
            });

            /**
             * Builds Environment Viewer
             * @param data
             * @param status
             */
            function buildEnvViewer(data, status) {
                var output = JSON.parse(data);

                $("#raw_env").JSONView(output, {collapsed: false});

                document.querySelector("#locations").appendChild(buildEnvNavigation(data));



            }

            /**
             * Build Environment Viewer Navigation
             * @param env
             */
            function buildEnvNavigation(env){
                let tempNode = document.querySelector("div[data-type='loc-nav-template']").cloneNode(true);

                let first = true;

                let environment = JSON.parse(env);

                for (const key in environment) {
                    if (environment.hasOwnProperty(key)) {
                        {# Creates location navigation tabs #}
                        let locLi = document.createElement("li");

                        locLi.classList.add("nav-item");

                        let locTitle = document.createElement("a");

                        locTitle.href = "#";
                        locTitle.classList.add("nav-location");
                        locTitle.classList.add("nav-link");
                        locTitle.id = key.toLowerCase() + "-tab";
                        locTitle.setAttribute("data-toggle", "tab");

                        {# Sets first location to active tab #}
                        if (first===true) {
                            locTitle.classList.add("active");
                            first = false;
                        }

                        {# Sets tab titles #}
                        let locTitleText = document.createTextNode(key);

                        {# Append respective navigation titles #}
                        locTitle.appendChild(locTitleText);
                        locLi.appendChild(locTitle);
                        tempNode.querySelector("#location-titles").appendChild(locLi);
                    }
                }

                {# Edit/remove template attributes for document #}
                tempNode.style.display = "block";
                tempNode.setAttribute("id", "location-navigation");
                tempNode.removeAttribute("data-type");

                return tempNode;
            }

            function buildLocationPanels(env) {
                let environment = JSON.parse(env);

                for (const object in environment) {
                    if (environment.hasOwnProperty(object)) {

                    }
                }

            }
            function viewerError() {
                alert("Could not load environment");
            }
        }
    </script>

    {#  Location Navigation Tempalte  #}
    <div style="display: none; margin-bottom: 25px;" data-type="loc-nav-template" id="location-nav-template" class="card">
        <div class="card-header">
            <ul id="location-titles" class="nav nav-tabs card-header-tabs"></ul>
        </div>
        <div class="card-body tab-content" id="locationTabContent">
{#            <div class="tab-content" id="locationTabContent">#}
{#                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">#}
{#                    <div id="object-cards" class="card-deck">#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <h5 class="card-title">ENV.HUMAN.1</h5>#}
{#                                <p class="card-text"></p>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <h5 class="card-title">Special title treatment</h5>#}
{#                                <p class="card-text">With supporting text below as a natural lead-in to additional content.#}
{##}
{#                                More supporting text below some other shit</p>#}
{#                                <p class="card-text">More shit and shit </p>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>

    {#  Location Tab Template  #}
{#    <div style="display: none; margin-bottom: 25px;" data-type="loc-tab-template" id="location-tab-template" class="tab-content">#}
{#        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">#}
{#            <div class="card-deck" id="object-cards"></div>#}
{#        </div>#}
{##}
{#    </div>#}

    {#  Location Tab Template  #}
    <div style="display: none; margin-bottom: 25px;" data-type="loc-tab-template" id="location-tab-template" class="tab-pane fade show" role="tabpanel" aria-labelledby="location-tab">
        <div class="card-deck" id="object-cards"></div>
    </div>

    {#  Object Card Template  #}
        {#  Each card must have at least a title.  #}
        {#  Each attribute will get it's own <p> element  #}
    <div style="display: none; margin-bottom: 25px;" data-type="obj-card-template" id="object-template" class="card">
        <div class="card-body"></div>
    </div>

</head>
<body onload="load()"> {# TODO - Insert onload fuction #}

    {% include 'nav.html' %}
    <script>
        $(document).ready(function() {
            $("#nav-environment").addClass("active");
        });
    </script>

    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div id="locations" class="col-sm-8"></div>
            <div class="col-sm-4">
                <div class="card" style="margin-bottom: 25px;" >
                    <div class="card-header">
                        Object Log
                    </div>
                    <div class="card-body">
                        <div id="raw_env"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>