<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IIDEA</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>

    <style>
        .input-link {
            margin-right: 5px;
        }
        .goal-id {
            color: grey;
            font-size: small;
        }
        .goal-contents {
            padding-left: 25px;
        }
        .trigger {
            padding-bottom: 10px;
        }
        .trigger:last-child {
            padding-bottom: 0px;
        }
        .variable {
            margin-left: 20px;
            font-size: small;
        }
        .step {
            margin-left: 20px;
            font-size: small;
        }
        .callback-button {
            padding-left: 4px;
            padding-right: 4px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        .steps {
            color: grey;
            font-size: xx-small;
        }
        .decision {
            margin-bottom: 20px;
        }
        .decision:last-child {
            margin-bottom: 0px;
        }
        .decision-breadcrumbs {
            font-size: small;
        }
        .output-details {
            color: grey;
            font-size: small;
        }
    </style>

    <script>
        function advance(callback) {
            $.ajax({
                url: "/iidea/advance",
                method: "GET",
            }).done(function(data) {
                var output = JSON.parse(data);
                render_time(output);
                render_inputs(output["inputs"]);
                render_agenda(output["agenda"]);
                render_effectors(output["effectors"]);
                render_triggers(output["triggers"]);
                render_logs(output["logs"]);
                render_decisions(output["decisions"]);
                if (callback != null) {
                    callback();
                }
            }).fail(function(error) {
                console.log(error);
            });
        }

        function input() {
            var source = null;
            if ($("#custom-source-radio").is(':checked')) {
                source = $("#custom-source-input").val();
            }

            var data = {
                input: $("#inputText").val(),
                source: source,
                type: "LANGUAGE"
            };

            $.ajax({
                url: "/iidea/input",
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                var output = JSON.parse(data);
                render_time(output);
                render_inputs(output["inputs"]);
                render_agenda(output["agenda"]);
                render_decisions(output["decisions"]);
                $("#inputText").attr("placeholder", "Input Text");
                $("#inputTextButton").prop("disabled", false);
            }).fail(function(error) {
                console.log(error);
                $("#inputText").attr("placeholder", "Input Text");
                $("#inputTextButton").prop("disabled", false);
            });
            $("#inputTextButton").prop("disabled", true);
            $("#inputText").attr("placeholder", "Analyzing...");
            $("#inputText").val("");
        }

        function observe() {
            var observation = $("#observations").val();

            $.ajax({
                url: "/iidea/observe",
                method: "POST",
                data: JSON.stringify({"observation": observation}),
                contentType: "application/json",
            }).done(function(data) {
                var output = JSON.parse(data);
                render_time(output);
                render_inputs(output["inputs"]);
                render_agenda(output["agenda"]);
                render_decisions(output["decisions"]);
            }).fail(function(error) {
                console.log(error);
            });
        }

        function callback(callback) {
            var data = {
                "callback-id": callback
            };

            $.ajax({
                url: "/iidea/callback",
                method: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
            }).done(function(data) {
                var output = JSON.parse(data);
                render_time(output);
                render_inputs(output["inputs"]);
                render_agenda(output["agenda"]);
                render_effectors(output["effectors"]);
                render_triggers(output["triggers"]);
                render_logs(output["logs"]);
                render_decisions(output["decisions"]);
            }).fail(function(error) {
                console.log(error);
            });
        }

        function start() {
            $("#start-button").hide();
            $("#pause-button").show();
            $("#advance-button").prop("disabled", true);

            running = true;
            run();
        }

        function pause() {
            $("#start-button").show();
            $("#pause-button").hide();
            $("#advance-button").prop("disabled", false);

            running = false;
        }

    </script>

    <script>
        var running = false;

        function run() {
            advance(keepRunning);
        }

        function keepRunning() {
            setTimeout(function() {
                if (running) {
                    run();
                }
            }, 1000);
        }
    </script>

    <script>
        function render_time(time) {
            $("#time").text(time["time"]);
            $("#stage").text(time["stage"]);
        }

        function render_inputs(inputs) {
            $("#inputList").empty();
            for (var i in inputs) {
                var input = inputs[i];

                var status = {
                    received: "secondary",
                    acknowledged: "info",
                    understood: "success",
                    ignored: "warning"
                }[input["status"]];

                var link = $('<a href="#" class="input-link badge badge-' + status + '" data-graph="' + input["name"] + '">' + input["name"] + '</a>');
                $("#inputList").append(link);
            }
        }

        function render_agenda(agenda) {
            $("#agenda").empty();

            for (var i in agenda) {
                var goal = agenda[i];

                if (goal.pending) {
                    goal["badge"] = "badge-secondary";
                    goal["status"] = "pending";
                } else if (goal.active) {
                    goal["badge"] = "badge-success";
                    goal["status"] = "active";
                } else if (goal.satisfied) {
                    goal["badge"] = "badge-secondary";
                    goal["status"] = "satisfied";
                } else if (goal.abandoned) {
                    goal["badge"] = "badge-secondary";
                    goal["status"] = "abandoned";
                }

                var template = document.getElementById('goal-template').innerHTML;
                Mustache.parse(template, ["{|", "|}"]);
                var rendered = Mustache.render(template, goal);
                $($(document).find("#agenda")[0]).prepend($(rendered));
            }

            if ($("#hideSatisfiedCheckBox").is(":checked")) {
                $(".goal-satisfied").hide();
            } else {
                $(".goal-satisfied").show();
            }
        }

        function render_effectors(effectors) {
            $("#effectorList").empty();

            for (var i in effectors) {
                var effector = effectors[i];

                if (effector.type == "PHYSICAL") {
                    effector["icon"] = "fa-walking";
                } else if (effector.type == "VERBAL") {
                    effector["icon"] = "fa-microphone-alt";
                } else if (effector.type == "MENTAL") {
                    effector["icon"] = "fa-cloud";
                }

                var template = document.getElementById('effector-template').innerHTML;
                Mustache.parse(template, ["{|", "|}"]);
                var rendered = Mustache.render(template, effector);
                $($(document).find("#effectorList")[0]).prepend($(rendered));

                $(function () {
                    $('[data-toggle="tooltip"]').tooltip();
                });
            }
        }

        function render_triggers(triggers) {
            $("#triggerList").empty();

            for (var i in triggers) {
                var trigger = triggers[i];

                var template = document.getElementById('trigger-template').innerHTML;
                Mustache.parse(template, ["{|", "|}"]);
                var rendered = Mustache.render(template, trigger);
                $($(document).find("#triggerList")[0]).prepend($(rendered));
            }

            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        }

        function render_logs(logs) {
            $("#logList").empty();

            for (var i in logs) {
                var log = logs[i];

                var template = document.getElementById('log-template').innerHTML;
                Mustache.parse(template, ["{|", "|}"]);
                var rendered = Mustache.render(template, {"log": log});
                $($(document).find("#logList")[0]).prepend($(rendered));
            }
        }

        function render_decisions(decisions) {
            $("#decisions").empty();

            for (var i in decisions) {
                var decision = decisions[i];

                if (decision.status == "SELECTED") {
                    decision["style"] = "badge-info";
                } else if (decision.status == "EXECUTING") {
                    decision["style"] = "badge-success";
                } else if (decision.status == "FINISHED") {
                    decision["style"] = "badge-secondary";
                }

                var template = document.getElementById('decision-template').innerHTML;
                Mustache.parse(template, ["{|", "|}"]);
                var rendered = Mustache.render(template, decision);
                $($(document).find("#decisions")[0]).prepend($(rendered));
            }

            if ($("#hideFinishedCheckBox").is(":checked")) {
                $(".decision-FINISHED").hide();
            } else {
                $(".decision-FINISHED").show();
            }
        }
    </script>

    <script>
        $(document).ready(function() {
            $("#advance-button").on("click", function() {
                advance();
            });
            $("#inputTextButton").on("click", function() {
                input();
            });
            $("#observationButton").on("click", function() {
                observe();
            });
            $("#start-button").on("click", function() {
                start();
            });
            $("#pause-button").on("click", function() {
                pause();
            });
            $("#custom-source-input").on("keyup", function() {
                $("#custom-source-radio").prop("checked", true);
            });
            $("#hideSatisfiedCheckBox").on("click", function() {
                if ($("#hideSatisfiedCheckBox").is(":checked")) {
                    $(".goal-satisfied").hide();
                } else {
                    $(".goal-satisfied").show();
                }
            });
            $("#hideFinishedCheckBox").on("click", function() {
                if ($("#hideFinishedCheckBox").is(":checked")) {
                    $(".decision-FINISHED").hide();
                } else {
                    $(".decision-FINISHED").show();
                }
            });
            $(document).on("click", ".callback-button", function(e) {
                var id = $(e.currentTarget).data("callback");
                callback(id);
            });
            $(document).on("click", ".input-link", function(e) {
                var graph = $(e.currentTarget).data("graph");
                $("#modalGraphBody").load("/components/graph?include_sources=false&namespace=" + escape(graph), function(){
                    $("#modalGraph").modal({show:true});
                });
            });
            $(document).on("click", ".output-link", function(e) {
                var graph = $(e.currentTarget).data("graph");
                $("#modalGraphBody").load("/components/graph?include_sources=false&namespace=" + escape(graph), function(){
                    $("#modalGraph").modal({show:true});
                });
            });
            $('#modalGraph').on('shown.bs.modal', function (e) {
                _network.fit();
            });
            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });




            var agenda = JSON.parse('{{ aj|safe }}');
            render_agenda(agenda);

            var effectors = JSON.parse('{{ ej|safe }}');
            render_effectors(effectors);

            var triggers = JSON.parse('{{ tj|safe }}');
            render_triggers(triggers);

            var logs = JSON.parse({{lj|tojson}});
            render_logs(logs);

            var decisions = JSON.parse({{dj|tojson}});
            render_decisions(decisions);
        });
    </script>

    <script id="goal-template" type="x-tmpl-mustache">
        <div class="goal-{| status |}">{| name |} <span class="goal-id">({| id |})</span></div>
        <div class="goal-contents goal-{| status |}">
            <div>
                <strong>Variables:</strong>
                {| #params |}
                    <div class="variable"><strong>{| var |}</strong> = {| value |}</div>
                {| /params |}
            </div>
            <div>
                <strong>Status:</strong>
                <span class="badge badge-pill {| badge |}">{| status |}</span>
            </div>
            {|#plan|}
                <div>
                    <strong>Plan:</strong> {| name |}
                    {| #selected |}
                        <span class="badge badge-pill badge-info">selected</span>
                    {| /selected |}
                    {|#steps|}
                        <div class="step">
                            {| #finished |}
                                <i class="fas fa-check-circle"></i>
                            {| /finished |}
                            {| name |}
                        </div>
                    {|/steps|}
                </div>
            {|/plan|}
        </div>
    </script>

    <script id="decision-template" type="x-tmpl-mustache">
        <div class="card decision decision-{| status |}">
            <div class="card-header">
                <span class="badge badge-pill {| style |}">{| status |}</span>
                <span class="decision-breadcrumbs">{| goal |} > {| plan |} > {| step |}</span>
            </div>
            <div class="card-body">
                <div><strong>Priority:</strong> {| priority |}, <strong>Cost:</strong> {| cost |}</div>
                <div><strong>Outputs:</strong>
                    {|#outputs|}
                        <a href="#" class="output-link badge badge-secondary" data-graph="{| graph |}">{| graph |}</a>
                        <span class="output-details">({| frame |})</span>
                    {|/outputs|}
                </div>
                <div><strong>Requires:</strong> {| requires |}</div>
                <div><strong>Effectors:</strong> {| effectors |}</div>
                <div><strong>Callbacks:</strong> {| callbacks |}</div>
            </div>
        </div>
    </script>

    <script id="effector-template" type="x-tmpl-mustache">
        <div>
            <table class="table table-sm table-borderless">
                <tr>
                    <td>
                        <i class="fas {| icon |}"></i>
                    </td>
                    <td>
                        {| #status |}
                            <i class="fas fa-toggle-off"></i>
                        {| /status |}
                        {| ^status |}
                            <i class="fas fa-toggle-on" style="color: green" data-toggle="tooltip" data-placement="top" title="{| effecting |}"></i>
                        {| /status |}
                    </td>
                    <td>
                        {| name |}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        {| #capabilities |}
                            {| #selected |}
                                <i class="fas fa-check-circle" style="color: green"></i>
                            {| /selected |}

                            {| name |}

                            {| #callbacks |}
                                {| #waiting |}
                                    <button type="button" class="btn btn-primary btn-sm callback-button" data-callback="{| name |}"><i class="fas fa-undo-alt" style="font-size: smaller"></i></button>
                                {| /waiting |}
                                {| ^waiting |}
                                    <button disabled type="button" class="btn btn-secondary btn-sm callback-button" data-callback="{| name |}"><i class="fas fa-undo-alt" style="font-size: smaller"></i></button>
                                {| /waiting |}
                            {| /callbacks |}
                        {| /capabilities |}
                    </td>
                </tr>
            </table>
        </div>
    </script>

    <script id="trigger-template" type="x-tmpl-mustache">
        <div class="trigger">
            <i class="fas fa-eye" data-toggle="tooltip" data-placement="top" title="{| triggered-on |}"></i> Trigger {| goal |} when {| query |}
        </div>
    </script>

    <script id="log-template" type="x-tmpl-mustache">
        <div class="log">
            {| log |}
        </div>
    </script>

</head>
<body>

    {% include 'nav.html' %}
    <script>
        $(document).ready(function() {
            $("#nav-agenda").addClass("active");
        });
    </script>

    <div class="container">
        <div class="row" style="margin-top: 25px;">
            <div class="col-sm-8">
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Agenda
                        <div class="form-check float-right">
                            <input class="form-check-input" type="checkbox" value="" id="hideSatisfiedCheckBox">
                            <label class="form-check-label" for="hideSatisfiedCheckBox">
                                Hide satisfied?
                            </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="agenda"></div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Decisions
                        <div class="form-check float-right">
                            <input class="form-check-input" type="checkbox" value="" id="hideFinishedCheckBox">
                            <label class="form-check-label" for="hideFinishedCheckBox">
                                Hide finished?
                            </label>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="decisions"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Time: <span>T<span id="time">{{ time }}</span> - <span id="stage">{{ stage }}</span></span> (pending)
                    </div>
                    <div class="card-body">
                        <button id="advance-button" type="button" class="btn btn-sm btn-secondary">Advance</button>
                        <button id="start-button" type="button" class="btn btn-sm btn-success">Start</button>
                        <button id="pause-button" type="button" class="btn btn-sm btn-warning" style="display: none;">Pause</button>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Inputs and Observations
                    </div>
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <input id="inputText" type="text" class="form-control form-control-sm" placeholder="Input Text" list="demoTexts">
                            <datalist id="demoTexts">
                                <option value="We will build a chair."></option>
                                <option value="I need a screwdriver to assemble a chair."></option>
                                <option value="Get a screwdriver."></option>
                                <option value="First, we will build a front leg of the chair."></option>
                                <option value="Get a foot bracket."></option>
                                <option value="Get a front bracket."></option>
                                <option value="Get a dowel."></option>
                                <option value="Hold the dowel."></option>
                                <option value="I am using the screwdriver to affix the brackets on the dowel with screws."></option>
                                <option value="Release the dowel."></option>
                                <option value="We have assembled a front leg."></option>
                                <option value="We finished assembling the chair."></option>
                                <option value="Let's build a chair."></option>
                            </datalist>
                            <div class="input-group-append">
                                <button id="inputTextButton" class="btn btn-sm btn-primary" type="button">Input</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <select class="custom-select custom-select-sm" id="observations">
                                <option value="Jake leaves">Jake leaves</option>
                            </select>
                            <div class="input-group-append">
                                <button id="observationButton" class="btn btn-sm btn-primary" type="button">Observe</button>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="no-source-radio" name="source-radio" class="custom-control-input" checked>
                                <label class="custom-control-label" for="no-source-radio">No Source</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="custom-source-radio" name="source-radio" class="custom-control-input">
                                <label class="custom-control-label" for="custom-source-radio"></label>
                                <input id="custom-source-input" type="text" class="form-control form-control-sm" placeholder="Source ID" value="LT.HUMAN.1">
                            </div>
                        </div>
                        <hr>
                        <div>
                            <span class="badge badge-pill badge-secondary">Received</span>
                            <span class="badge badge-pill badge-info">Acknowledged</span>
                            <span class="badge badge-pill badge-success">Understood</span>
                            <span class="badge badge-pill badge-warning">Ignored</span>
                        </div>
                        <div id="inputList" style="padding-top: 10px;">
                            {% for i in inputs %}
                                {% if i.status == "received" %}
                                    <a href="#" class="input-link badge badge-secondary" data-graph="{{i.name}}">{{i.name}}</a>
                                {% elif i.status == "acknowledged" %}
                                    <a href="#" class="input-link badge badge-info" data-graph="{{i.name}}">{{i.name}}</a>
                                {% elif i.status == "understood" %}
                                    <a href="#" class="input-link badge badge-success" data-graph="{{i.name}}">{{i.name}}</a>
                                {% elif i.status == "ignored" %}
                                    <a href="#" class="input-link badge badge-warning" data-graph="{{i.name}}">{{i.name}}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Effectors
                    </div>
                    <div class="card-body">
                        <div id="effectorList"></div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Triggers
                    </div>
                    <div class="card-body">
                        <div id="triggerList"></div>
                    </div>
                </div>
                <div class="card" style="margin-bottom: 25px;">
                    <div class="card-header">
                        Logs
                    </div>
                    <div class="card-body">
                        <div id="logList"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalGraph" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="modalGraphBody" class="modal-body"></div>
            </div>
        </div>
    </div>

</body>
</html>