<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

    <ul class="navbar-nav">
        <li id="nav-memory" class="nav-item">
            <a class="nav-link" href="/">Memory</a>
        </li>
        <li id="nav-agenda" class="nav-item">
            <a class="nav-link" href="/iidea">Agenda</a>
        </li>
        <li id="nav-bootstrap" class="nav-item">
            <a class="nav-link" href="/bootstrap">Bootstrap</a>
        </li>
        <li id="nav-io" class="nav-item">
            <a class="nav-link" href="/io">I/O</a>
        </li>
        <li id="nav-htn" class="nav-item">
            <a class="nav-link" href="/htn">HTN Viewer</a>
        </li>

        <li id="nav-help" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Help
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/grammar">Grammar</a>
            </div>
        </li>
    </ul>

</nav>

<div style="margin-bottom: 80px"></div>